<%- include ./partials/header -%>

<h2><%= title %></h2>
<p><%= content %></p>

<h3>Comments</h3>

<% comments.forEach( comment => { %>

    <p> <%= comment.authorName %> </p>
    <p> <%= comment.comment %> </p>

<% }) %>


<form action="<%= title %>" method="post" class="form-group">

    <label for="authorName">Name</label>
    <input type="text" name="authorName" class="form-control comment-form" >

    <label for="comment">Comment</label>
    <textarea type="text" name="comment" class="form-control comment-form" cols="20" rows="5"></textarea>

    <button type="submit" class="btn btn-primary">Post comment</button>

    

</form>


<!-- <%- include ./partials/footer -%> -->