<%- include ./partials/header -%>

<h2><%= title %></h2>
<p><%= content %></p>

<h3>Comments</h3>

<% comments.forEach( comment => { %>

    <p> <%= comment.authorName %> </p>
    <p> <%= comment.comment %> </p>

<% }) %>


<form action="<%= title %>" method="post">

    <label for="authorName">Name</label>
    <input type="text" name="authorName">

    <label for="comment">Comment</label>
    <input type="text" name="comment">

    <button type="submit">Post comment</button>

    

</form>


<%- include ./partials/footer -%>